.container {
    max-width: 1920px;
    margin: auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.text__center {
    text-align: center;
    position: absolute;
    width: 357px;
height: 233.7px;
left: 265px;
top: 280px;
}

.box {
    box-sizing: border-box;
    padding: 15px;
}

.relative {
    position: relative;
}

.align__center {
    align-items: center;
}


.col-6 {
    width: 50%;
}

.col-2 {
    width: 16.66%;
  }
  
  @media screen and (max-width:1024px) {
    .col-2 {
      width: 26%;
    }
    .projects__item {
      margin-bottom: 40px;
    }
  }
  


